.btn-action {
    border: 0px !important;
    font-weight: 600;
}

.btn-action:hover {
    background-color: var(--main-color-one) !important;
    color: #fff !important;
}

.img-user-profile {
    width: 100px;
    height: 100px;
    border: 4px solid var(--main-color-one);
    border-radius: 100%;
    object-fit: cover;
}

.img-user-menu-header {
    position: relative;
    top: -50px;
    display: flex;
    border-radius: 30px;
}

.institution .img-user-menu-header {
    position: static !important;
    top: 0px !important;
    display: flex;
    border-radius: 30px;
}

.institution .institution-profile {
    position: relative;
    top:  80px;;
}
.institution .menu-container{
    top:0 !important;
}


.user-menu {
    border: 0;
    border-radius: 20px;
}

.menu-container {
    top: -20px;
    position: relative;
}

.user-menu-link:hover,
.user-menu-link.active {
    background-color: #5956e61a;
}

.user-menu-link.disconnect:hover {
    background-color: #f324241e;
}

.user-menu-link:hover p,
.user-menu-link.active p {
    color: var(--main-color-one) !important;
}


.mobile-user-menu img {
    width: 70px;
    height: 70px;
}

.dossier-status-danger {
    background-color: #FEE;
    ;
}

.dossier-status-danger p {
    color: #F32424;
}

.dossier-status-warning {
    background-color: #FFECC5;
    ;
}

.dossier-status-warning p {
    color: #FFAA00;
}

.dossier .progress-bar.bg-warning {
    background-color: #FFAA00;
}

.nice-select ul.list {
    max-height: 500px !important;
    overflow-y: auto  !important;
}